body {
    font-family:'Antic Didone', serif;
    font-size: 18pt;
    border: 10px solid orange;
    min-height: 100vh
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
h1 {
    font-size: 30pt;
    color: orange;
}
h2 {
    font-size: 22pt;
}
* {
    box-sizing: border-box;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: left;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav-link {
  padding: 0 20px;
  line-height: 30px;
  color: black;
  font-size: 16pt;
  transition: .3s;
  text-decoration: none;  
    transition: color 0.5s;
    color: orange;
  }
  
  .section {
    width: 50%;
  }
  @media (max-width: 768px) {
  .section {
    width: 100%;
  }



   
